# ROS2 build directories
/build/
/install/
/log/

# Common IDE's, ideally this should be in global gitignore per user
.vscode/
.idea/

# Compile Commands
compile_commands.json

# clangd cache
.cache/

# IMGUI window layout
imgui.ini

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
*.egg-info/
venv/

#Teleop Ignores
*.sqlite3
*.db
bun.lock
bun.lockb
**/package-lock.json
.python-version

# macOS
.DS_Store
# nav state log
state_machine/state_log.txt
data/*.png
data/raw-pano-images
