[submodule "deps/manif"]
	path = deps/manif
	url = https://github.com/artivis/manif.git
[submodule "deps/dawn"]
	path = deps/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "esw/fw"]
	path = esw/fw
	url = git@github.com:umrover/mrover-esw.git
