[submodule "deps/manif"]
	path = deps/manif
	url = https://github.com/artivis/manif.git
[submodule "deps/dawn"]
	path = deps/dawn
	url = https://dawn.googlesource.com/dawn
[submodule "esw/fw"]
	path = esw/fw
	url = https://github.com/umrover/mrover-esw.git
[submodule "deps/dynamixel_sdk"]
	path = deps/dynamixel_sdk
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
	branch = ros2
