# mkdocs
site/

# Cube Projects
Build/
Debug/
Release/
.metadata/
.settings/
RemoteSystemsTempFiles/
Drivers/
src/**/cmake/stm32cubemx/
.mxproject

*.chm
*.settings.xml

*.xml
*.launch

# macOS
.DS_Store

# Python
.venv/
venv/
*.egg-info
__pycache__/
build/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
*-prefix/

# clangd
.clangd
.cache

# Editors
.idea
.vscode
.settings

# from the stm32cube extensions in vscode
src/**/.gitignore
starter-projects/**/.gitignore
lib/**/.gitignore

# cache dirs
tools/fdcanusb

