- name: Jetson Stats
  become: true
  pip:
    name: jetson-stats

- name: Download CUDA Keyring
  get_url:
    url: https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/arm64/cuda-keyring_1.1-1_all.deb
    dest: /tmp/cuda-keyring_1.1-1_all.deb

- name: Install CUDA Keyring
  become: true
  apt:
    deb: /tmp/cuda-keyring_1.1-1_all.deb

- name: Install APT Packages
  become: true
  apt:
    cache_valid_time: 604800
    state: latest
    name:
      - zstd # Required to unpack ZED installer
      - cuda-toolkit-12-6
      - cuda-compat-12-6

- name: ZED SDK Download
  get_url:
    url: https://download.stereolabs.com/zedsdk/5.1/l4t36.4/jetsons
    dest: /tmp/ZED_SDK_Tegra_L4T36.4_v5.1.2.zstd.run
    mode: 0755

- name: ZED SDK Install
  # Silent mode prevents any user input prompting
  command: /tmp/Downloads/ZED_SDK_Tegra_L4T36.4_v5.1.2.zstd.run -- silent
  args:
    creates: /usr/local/zed
