arm_hw_bridge:
  ros__parameters:
    joint_a:
      min_velocity: -0.08
      max_velocity: 0.08
      min_position: 0.0
      max_position: 0.35
      max_torque: 30.0
      limit_switch_0_present: true
      limit_switch_0_enabled: true
      limit_switch_0_limits_forward: true
      limit_switch_0_active_high: false
      limit_switch_0_used_for_readjustment: true
      limit_switch_0_readjust_position: 0.4
      limit_switch_0_aux_number: 1
      limit_switch_0_aux_pin: 0
      limit_switch_1_present: true
      limit_switch_1_enabled: true
      limit_switch_1_limits_forward: false
      limit_switch_1_active_high: false
      limit_switch_1_used_for_readjustment: true
      limit_switch_1_readjust_position: 0.0
      limit_switch_1_aux_number: 1
      limit_switch_1_aux_pin: 2
    joint_b_segment_length: 0.434
    joint_b_actuator_length: 0.324
    joint_b_mount_length: 0.157
    joint_b_mount_theta: 1.25499645 # 90deg - 18.094deg
    joint_b_segment_offset_theta: 0.09384635 # 5.377deg
    # joint_b: # TODO(eric) add clamps to position & velocity similar to motei
    joint_c:
      min_velocity: -0.06
      max_velocity: 0.06
      min_position: -1.04719755 # -60deg old value: -0.125
      max_position: 3.05432619 # 175deg old value: 0.30
      max_torque: 200.0
#    # Offsets are substracted from the absolute encoder readings for pitch and roll
#    # In order to zero, move the joint to the zero position and read the unadjusted positions. These should be the set to the offsets
#    joint_de_pitch_offset: 0.018 # radians
#    joint_de_roll_offset: 3.02 # radians
#    joint_de_pitch_max_position: 1.3 # radians
#    joint_de_pitch_min_position: -1.1 # radians
#    joint_de_roll_max_position: 1.57 # radians
#    joint_de_roll_min_position: -1.57 # radians
#    joint_de_0:
#      min_velocity: -5.0
#      max_velocity: 5.0
#      min_position: -10000.0
#      max_position: 10000.0
#      max_torque: 20.0
#    joint_de_1:
#      min_velocity: -5.0
#      max_velocity: 5.0
#      min_position: -10000.0
#      max_position: 10000.0
#      max_torque: 20.0
#    gripper:
#      gear_ratio: 47.0
#      is_inverted: false
#      driver_voltage: 12.0
#      motor_max_voltage: 12.0
#      quad_present: true
#      quad_ratio: -1.0
#      abs_present: false
#      calibration_throttle: 0.5
#      position_p: 30.0
#      velocity_p: 5.0
#      limit_switch_0_present: true
#      limit_switch_0_enabled: true
#      limit_switch_0_limits_forward: true
#      limit_switch_0_active_high: false
#      limit_switch_0_used_for_readjustment: true
#      limit_switch_0_readjust_position: 0.0
#    pusher:
#      gear_ratio: 1.0
#      is_inverted: false
#      driver_voltage: 12.0
#      motor_max_voltage: 12.0
#      quad_present: false
#      abs_present: false
#      calibration_throttle: 0.5
#      limit_switch_0_present: true
#      limit_switch_0_enabled: true
#      limit_switch_0_limits_forward: true
#      limit_switch_0_active_high: false
#      limit_switch_0_used_for_readjustment: false
#      limit_switch_1_present: true
#      limit_switch_1_enabled: true
#      limit_switch_1_limits_forward: false
#      limit_switch_1_active_high: false
#      limit_switch_1_used_for_readjustment: false
