# All units are in SI
# ===================
# Time:     second, hz
# Angle:    radian
# Distance: meter

differential_drive_controller:
  ros__parameters:
    rover:
      width: 0.86
      length: 0.86
      wheel_radius: 0.13
      max_linear_speed: 10.0
      max_angular_speed: 10.0

can_bridge_0:
  ros__parameters:
    interface: can0
    is_extended_frame: true
    devices:
      jetson:
        id: 0x10
      moteus:
        id: 0x20
      bmc:
        id: 0x02
