# A udev rule to create a /dev/arduino symlink.
#
# Install into /etc/udev/rules.d:
#   sudo cp 71-arduino.rules /etc/udev/rules.d
#
# Then run:
#   sudo udevadm control --reload-rules
#   sudo udevadm trigger --subsystem-match=tty

SUBSYSTEM=="tty", ATTRS{manufacturer}=="Arduino LLC", ATTRS{product}=="Arduino MKR WiFi 1010", MODE="0666", SYMLINK+="arduino"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", MODE="0666", SYMLINK+="led_arduino"
