- name: Install or Upgrade Bun
  shell: curl -fsSL https://bun.sh/install | bash
  args:
    executable: /bin/bash
  environment:
    BUN_INSTALL: "{{ ansible_env.HOME }}/.bun"

- name: Install Bun Packages
  command: ~/.bun/bin/bun install
  args:
    chdir: "{{ ansible_env.HOME }}/ros2_ws/src/mrover/teleoperation/basestation_gui/frontend"